@import '@/assets/scss/global';
.nav {
    color: white;
    margin: 0;
      display: flex;
    padding: 30px;
    height: 400px;
    background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/7383/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg');
    background-position: center;
    a {
      font-weight: bold;
      color: #ffffff;
    }
  }