@import "@/assets/scss/global";
.nav {
  color: black;
  margin: 0;
  display: flex;
  padding: 30px;
  height: 200px;
  background-position: center;
  a {
    font-weight: bold;
    color: #ffffff;
  }
}
