@import "@/assets/scss/global";

.nav {
  color: white;
  margin: 0;
  display: flex;
  padding: 30px;
  height: 200px;
  position: absolute;
  z-index: 1;
  background-position: center;
  a {
    font-weight: bold;
    color: #ffffff;
  }
}
