@import url("https://fonts.googleapis.com/css2?family=Benne&family=Work+Sans:wght@100;200&display=swap");
$page-width: 100%;
$interBBSpace: 4.5rem;
$icon-size: 1.6rem;
@mixin HeaderL1Font {
  font-family: "Benne", serif;
}
@mixin HeaderL2Font {
  font-family: "Work Sans", sans-serif;
}

#LandofDiscovery {
  padding-top: 4rem;
  background-color: #f3f3f3;
  .HeaderBlock {
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    max-width: 50rem;
    line-height: 2.5rem;
    @media screen and (max-width: 834px) {
      max-width: 100vw;
      padding: 2rem;
      row-gap: 2rem;
    }
    .Header {
      display: block;
      font-size: 3rem;
      @media screen and (max-width: 834px) {
        line-height: 2rem;
      }
      @media screen and (max-width: 429px) {
        font-size: 2.5rem;
      }
      #h1 {
        @include HeaderL1Font;
      }
      #h2 {
        @include HeaderL2Font;
      }
    }
    .textContent {
      color: #777;
      line-height: 2rem;
      @media screen and (max-width: 429px) {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    }
    .globe-nav {
      display: flex;
      &.router-link-active::after,
      &.router-link-active:hover::after {
        width: 100%;
        height: 2px;
      }
      @media screen and (max-width: 429px) {
        flex-direction: column;
        align-items: flex-start;
      }
      button {
        border: none;
        background-color: inherit;
        outline: none;
        margin-right: 1.5rem;
      }
    }
  }
  .DynamicImages-c3 {
    display: flex;
    @media screen and (max-width: 834px) {
      flex-direction: column;
    }
  }
  .GoogleEarth {
    position: relative;
    display: flex;
    #backgroundImg {
      z-index: 2;
    }
    @media screen and (max-width: 834px) {
      flex-direction: column;
    }
    .blackBox {
      position: absolute;
      top: 0;
      display: flex;
      left: 50%;
      padding: 2rem;
      background-color: #161f1e;
      color: #fff;
      z-index: 10;
      @media screen and (max-width: 834px) {
        position: static;
        padding: 1rem;
        padding-bottom: 2rem;
        padding-right: 0px;
      }
      .textContent {
        padding: 2rem;
        line-height: 2;
        padding-right: 4rem;
        @media screen and (max-width: 429px) {
          padding: 0px;
        }
        p {
          color: hsla(0, 0%, 100%, 0.5);
          font-weight: 600;
          font-size: 0.85rem;
          @media screen and (max-width: 429px) {
            font-size: 0.7rem;
          }
        }
        .buttons {
          display: flex;
          margin-bottom: $interBBSpace;
          button {
            width: 3rem;
            margin-right: 1rem;
            border: none;
            background-color: inherit;
            outline: none;
            @media screen and (max-width: 429px) {
              width: 2.75rem;
            }
          }
        }
        .icons {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 3.5rem;
          div {
            margin-right: 4rem;
            text-align: center;
            @media screen and (max-width: 429px) {
              margin-right: 2rem;
            }
            svg {
              width: $icon-size;
            }
          }
        }
        .locationName {
          margin-bottom: $interBBSpace;
          h1 {
            @include HeaderL1Font;
            margin-top: 2rem;
          }
        }
        .locationPin {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: $icon-size;
          }
          p {
            margin: auto;
          }
        }
      }
      #overlayImage {
        position: relative;
        width: 20vw;
        top: -100px;
        z-index: 100;
        // left: 50%;
        @media screen and (max-width: 834px) {
          width: 50vw;
          top: -150px;
          height: 50%;
        }
        @media screen and (max-width: 429px) {
          position: absolute;
          right: 0px;
          top: 9rem;
          height: 37.5vh;
        }
      }
    }
  }
}
